---
import type { DisplayLink } from "../../types";

interface Props {
    links: DisplayLink[];
    className?: string;
}

const { links, className = "" } = Astro.props;
---

{
    links.length > 0 && (
        <div class={`item-links horizontal container-narrow ${className}`}>
            {links.map((link) => (
                <a
                    href={link.href}
                    target={link.external !== false ? "_blank" : undefined}
                    rel={
                        link.external !== false
                            ? "noopener noreferrer"
                            : undefined
                    }
                >
                    {link.label} &rarr;
                </a>
            ))}
        </div>
    )
}
