---
import { SITE, THEME_CONFIG, SETTINGS } from "../../config";
import Icon from "../ui/Icon.astro";

const currentYear = new Date().getFullYear();
const showToggle = THEME_CONFIG.lightAndDark;
const showDevTools = import.meta.env.DEV || SETTINGS.addDevToolsInProduction;
---

<footer class="footer">
    <div class="flex items-center gap-4">
        <span class="body-xs">&copy; {currentYear} {SITE.author}.</span>
    </div>
    <div class="flex items-center gap-4">
        <span class="body-xs hidden sm:inline-block"
            >Built with <a
                href="https://github.com/rubzip/academic-portfolio-astro/"
                target="_blank"
                rel="noopener noreferrer"
                class="link">Academic Portfolio Astro</a
            ></span
        >
        <a
            href="/rss.xml"
            aria-label="RSS Feed"
            title="RSS Feed"
            target="_blank"
            rel="noreferrer"
            class="btn-icon"
        >
            <Icon name="RSS" size={16} />
        </a>
        {
            showToggle && (
                <button
                    id="theme-toggle"
                    aria-label="Toggle Dark Mode"
                    class="btn-icon"
                >
                    <Icon name="Sun" size={16} class="hidden dark:block" />
                    <Icon name="Moon" size={16} class="block dark:hidden" />
                </button>
            )
        }
        {
            showDevTools && (
                <a
                    href="/dev-tools"
                    aria-label="Developer Tools"
                    title="Developer Tools"
                    class="btn-icon"
                >
                    <Icon name="Settings" size={16} />
                </a>
            )
        }
    </div>
</footer>
